{% extends 'base.html.twig' %}

{% block body %}
    <div id="left">
        <div id="logo-container">DasScam</div>
        <div id="block-timer">
            <div class="row">
                <div class="col s12 m4">
                    <div class="first-line">1:11 PM</div>
                    <div class="date">Oct 11, 2017</div>
                    <div>
                        Next reward time
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="first-line">
                        x seconds
                    </div>
                    <div>
                        last block
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="first-line">
                        1s
                    </div>
                    <div>
                        next block time
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="right">
        <h2>Recent blocks</h2>
        <div class="row block">
            <div class="col s12 m4">
                hash
            </div>
            <div class="col s12 m4">
                0:00 PM
            </div>
            <div class="col s12 m4">
                123
            </div>
        </div>
    </div>
{% endblock %}
